<%= form_with(model: money) do |form| %>
  <% if money.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(money.errors.count, "error") %> prohibited this money from being saved:</h2>

      <ul>
        <% money.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :item %>
    <%= form.number_field :item %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
